@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto-slab: "Roboto Slab", sans-serif;

  --animate-slidein: slidein 0.5s ease-out forwards;
  @keyframes slidein {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  --animate-slideout: slideout 0.5s ease-out forwards;
  @keyframes slideout {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px);
      opacity: 0;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --main-light: #f3c623;
  --secondary-main: #fa812f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-main-light: var(--main-light);
  --color-secondary: var(--secondary-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ededed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
